body{
    background: #FE2E64;
    margin-left: 30px;
}

h4{
    margin-top: -65px;
    margin-left: 110px;
    font-family: ;
    color: ;
}

section{
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #BDBDBD;
    overflow: hidden;
    margin-top: 100px;
   
    margin-left: -30px;
    margin-right: -8px;
    
    
}

li {
    margin-left: 50px;
    
}

li a{
    display: block;
    color: #000;
    padding: 8px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* change the link color on hover*/
li a:hover{
    background-color:#555;
    color: white;
}

.pequena{
    width: 300px;
    height: 270px;

}


footer{
    background: black;
    color: white;
    margin-bottom: -20px;
    margin-left: -30px;
    margin-right: -8px;
    text-align: center;
}
